### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# pycharm dir
.idea

# created when using `pip install -e .`
osgar.egg-info/

# ignition simulation logs
ign-logs/

# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*