av==15.1.0
pyserial==3.5
msgpack==1.0.5
pyusb==1.2.1
opencv-python==4.7.0.72
requests==2.28.2
pyzmq==25.0.2
pyrealsense2==2.53.1.4623
numpy==1.23.0
protobuf==3.20.0
prpy==0.3.7
psutil==7.0.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.23
pygame==2.6.1
Pygments==2.19.2
pyparsing==3.2.3
pyreadline3==3.5.4
pyrealsense2==2.53.1.4623
pyserial==3.5
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytube==15.0.0
PyTurboJPEG==1.6.4
pytz==2025.2
pyusb==1.2.1
pyVHR==2.0
pyVHR-cpu==1.0.2
PyYAML==6.0.2
pyzmq==25.0.2
Qt.py==1.4.6
requests==2.28.2
requests-oauthlib==2.0.0
rsa==4.9.1
scikit-learn==1.6.1
scipy==1.13.1
sentencepiece==0.2.1
sentry-sdk==1.21.0
shapely==2.0.1
six==1.17.0
sounddevice==0.5.2
soundfile==0.13.1
soupsieve==2.7
soxr==1.0.0
SpeechRecognition==3.14.3
stack-data==0.6.3
sympy==1.14.0
threadpoolctl==3.6.0
torch==2.7.1
torchvision==0.22.1
tqdm==4.67.1
traitlets==5.14.3
types-pyside2==5.15.2.1.7
typing_extensions==4.14.1
tzdata==2025.2
ultralytics==8.3.172
ultralytics-thop==2.0.14
uncertainties==3.2.3
uritemplate==4.2.0
urllib3==1.26.20
vitallens==0.4.4
wcwidth==0.2.13
widgetsnbextension==4.0.14
xmltodict==0.14.2
zipp==3.23.0
