<launch>
	<arg name="port"/>
  	<env name="ROSCONSOLE_CONFIG_FILE" value="$(find base)/custom_rosconsole.conf"/>
  	<node name="base" pkg="base" type="base_$(env ROBOT).py"  output="screen">
		<!--param name="port" value="$(arg port)" /-->
		<param name="/port" value="/dev/ttyArduino" />  
	</node>
</launch>
