<?xml version="1.0"?>
<launch>
  <node name="$(arg robot_name)_proxy" pkg="proxy" type="ros_proxy" args="$(arg robot_name)" output="screen">
    <remap from="$(arg robot_name)/front_scan" to="$(arg robot_name)/scan_front"/>
    <remap from="$(arg robot_name)/image_raw/compressed" to="$(arg robot_name)/rgbd_front/image_raw/compressed"/>
    <remap from="$(arg robot_name)/front/depth" to="$(arg robot_name)/rgbd_front/depth"/>
    <remap from="$(arg robot_name)/points" to="$(arg robot_name)/rgbd_front/points"/>
  </node>

  <!-- Combining front RGBD depth and image data into a single message. -->
  <node pkg="nodelet" type="nodelet" name="rgbd_sync_front" args="standalone rtabmap_ros/rgbd_sync">
    <!-- Inputs -->
    <remap from="rgb/image" to="/$(arg robot_name)/rgbd_front/optical/image_raw"/>
    <remap from="rgb/camera_info" to="$(arg robot_name)/rgbd_front/optical/camera_info"/>
    <remap from="depth/image" to="/$(arg robot_name)/rgbd_front/optical/depth"/>
    <!-- Output -->
    <remap from="rgbd_image/compressed" to="/rtabmap/rgbd/front/compressed"/>
    <remap from="rgbd_image" to="/rtabmap/rgbd/front"/>
  </node>

  <!-- Combining rear RGBD depth and image data into a single message. -->
  <node pkg="nodelet" type="nodelet" name="rgbd_sync_rear" args="standalone rtabmap_ros/rgbd_sync">
    <!-- Inputs -->
    <remap from="rgb/image" to="/$(arg robot_name)/rgbd_rear/optical/image_raw"/>
    <remap from="rgb/camera_info" to="/$(arg robot_name)/rgbd_rear/optical/camera_info"/>
    <remap from="depth/image" to="/$(arg robot_name)/rgbd_rear/optical/depth"/>
    <!-- Output -->
    <remap from="rgbd_image/compressed" to="/rtabmap/rgbd/rear/compressed"/>
    <remap from="rgbd_image" to="/rtabmap/rgbd/rear"/>
  </node>

  <!-- RGBD odometry -->
  <node ns="rtabmap/rgbd" pkg="rtabmap_ros" type="rgbd_odometry" name="rgbd_odometry">
    <param name="database_path" type="string" value=""/>
    <param name="frame_id" type="string" value="$(arg robot_name)"/>
    <param name="odom_frame_id" type="string" value="odom"/>
    <param name="guess_frame_id" type="string" value="odom"/>
    <param name="publish_tf" type="bool" value="false"/>
    <param name="publish_null_when_lost" type="bool" value="false"/>
    <param name="subscribe_rgbd" type="bool" value="true"/>
    <param name="rgbd_cameras" value="2"/>
    <!-- Finding correspondences with the guess cannot be done with multiple cameras -->
    <param name="Vis/CorGuessWinSize" value="0"/>
    <!-- Default estimation type does not work with multiple cameras. -->
    <param name="Vis/EstimationType" value="0"/>
    <!-- Bundle adjustment does not work with multiple cameras. -->
    <param name="OdomF2M/BundleAdjustment" value="0"/>
    <!-- This robot cannot move left or up, at least unless something strange is happening. -->
    <param name="Odom/Holonomic" value="false"/>
    <!-- Internal Kalman filtering smoothes the estimate, which in turn prevents "our" Kalman from being confused by big input odometry jumps. -->
    <param name="Odom/FilteringStrategy" value="1"/>
    <!-- GFTT/ORB is the default, but if somebody wants to experiment ...
         For some of the worlds, simpler features, such as FAST, may turn out better. -->
    <param name="Vis/FeatureType" value="8"/> <!-- [0=SURF 1=SIFT 2=ORB 3=FAST/FREAK 4=FAST/BRIEF 5=GFTT/FREAK 6=GFTT/BRIEF 7=BRISK 8=GFTT/ORB 9=KAZE 10=ORB-OCTREE 11=SuperPoint Torch.] -->
    <!-- Inputs -->
    <remap from="rgbd_image0" to="front/compressed"/>
    <remap from="rgbd_image1" to="rear/compressed"/>
    <!-- Undocumented supported input, helps maintaining the right direction. -->
    <remap from="imu" to="/$(arg robot_name)/imu/data"/>
  </node>

  <!-- Estimating altitude from atmospheric pressure. -->
  <node name="altimeter" pkg="robot" type="altitude_from_atmospheric_pressure.py" args="odom">
    <remap from="atmospheric_pressure" to="$(arg robot_name)/air_pressure"/>
    <remap from="pose" to="$(arg robot_name)/altitude"/>
  </node>

  <!-- Location in the staging area. -->
  <node name="pose_from_artifact_origin" pkg="proxy" type="pose_from_artifact_origin" args="$(arg robot_name) odom">
    <remap from="pose_from_origin" to="$(arg robot_name)/pose_from_origin"/>
  </node>

  <!-- Fusion of wheel odometry, ICP odometries, RGBD odometries and altitude with IMU data.
       https://github.com/introlab/rtabmap_ros/blob/master/launch/tests/sensor_fusion.launch
       https://answers.ros.org/question/248109/integrating-an-imu-with-rtabmap/
       http://docs.ros.org/melodic/api/robot_localization/html/state_estimation_nodes.html
  -->
  <node pkg="robot_localization" type="ukf_localization_node" name="fused_odometry">
    <param name="frequency" value="50"/>
    <param name="sensor_timeout" value="0.1"/>
    <param name="two_d_mode" value="false"/>

    <param name="odom_frame" value="odom"/>
    <param name="base_link_frame" value="$(arg robot_name)"/>
    <param name="world_frame" value="odom"/>

    <param name="transform_time_offset" value="0.0"/>

    <!-- Wheel odometry -->
    <param name="odom0" value="$(arg robot_name)/odom"/>
    <!-- RGBD odometry from both front and rear depth cameras -->
    <param name="odom1" value="/rtabmap/rgbd/odom"/>
    <!-- Altitude estimated from air pressure -->
    <param name="pose0" value="$(arg robot_name)/altitude"/>
    <!-- Information about location in the staging area. -->
    <param name="pose1" value="$(arg robot_name)/pose_from_origin"/>
    <!-- IMU -->
    <param name="imu0" value="$(arg robot_name)/imu/data"/>

    <param name="odom0_differential" value="false"/>
    <param name="odom1_differential" value="false"/>
    <param name="pose0_differential" value="false"/>
    <param name="pose1_differential" value="false"/>
    <param name="imu0_differential" value="false"/>

    <param name="odom0_relative" value="false"/>
    <param name="odom1_relative" value="false"/>
    <param name="pose0_relative" value="true"/>
    <param name="pose1_relative" value="true"/>
    <param name="imu0_relative" value="false"/>

    <param name="imu0_remove_gravitational_acceleration" value="true"/>

    <!-- The order of the values is x, y, z, roll, pitch, yaw, vx, vy, vz, vroll, vpitch, vyaw, ax, ay, az. -->
    <!-- We only take forward velocity from the wheel-based odometry, because nothing else, including rotation velocity, can be trusted. -->
    <rosparam param="odom0_config">[false, false, false,
                                    false, false, false,
                                    true, false, false,
                                    false, false, false,
                                    false, false, false]</rosparam>
    <!-- We take vx, vy and vz instead of x, y and z, because visual odometry can drift arbitrarily far because of not supporting all avilable sensors. -->
    <rosparam param="odom1_config">[false, false, false,
                                    false, false, false,
                                    true, true, true,
                                    false, false, false,
                                    false, false, false]</rosparam>
    <rosparam param="pose0_config">[false, false, true,
                                    false, false, false,
                                    false, false, false,
                                    false, false, false,
                                    false, false, false]</rosparam>
    <rosparam param="pose1_config">[true, true, true,
                                    true, true, true,
                                    false, false, false,
                                    false, false, false,
                                    false, false, false]</rosparam>
    <rosparam param="imu0_config">[false, false, false,
                                   true,  true,  true,
                                   false, false, false,
                                   true,  true,  true,
                                   true,  true,  true]</rosparam>

    <!-- When the robot starts slipping or spinning wheels in the air, we need to start ignoring wheel-based odometry.
         The unit of the threshold is a Mahalanobis distance (i.e. sum) of numbers of sigmas in each dimension -->
    <rosparam param="odom0_twist_rejection_threshold">4</rosparam>

    <!-- Trying to not have data stuck in a TCP buffer. -->
    <rosparam param="odom0_nodelay">true</rosparam>
    <rosparam param="odom1_nodelay">true</rosparam>
    <rosparam param="pose0_nodelay">true</rosparam>
    <rosparam param="pose1_nodelay">true</rosparam>
    <rosparam param="imu0_nodelay">true</rosparam>

    <!-- Setting some physical constraints. -->
    <rosparam param="acceleration_limits">[10.6, 0.0, 0.0,
                                           0.0, 0.0, 1.6]</rosparam>
    <rosparam param="deceleration_limits">[10.6, 0.0, 0.0,
                                           0.0, 0.0, 1.6]</rosparam>

    <!-- When some data arrive late, we are willing to go back in time and correct the estimate. -->
    <param name="smooth_lagged_data" value="true"/>
    <param name="history_length" value="1.0"/>

    <!--
    <param name="print_diagnostics" value="true"/>
    <remap from="/diagnostics" to="$(arg robot_name)/odom_diagnostics"/>
    -->

    <!-- Output -->
    <remap from="odometry/filtered" to="/$(arg robot_name)/odom_fused"/>
  </node>

  <!-- Merging both RGBD cameras into a single stream. -->
  <node pkg="topic_tools" type="relay" name="points_merge_front" args="$(arg robot_name)/rgbd_front/points $(arg robot_name)/rgbd_all/points"/>
  <node pkg="topic_tools" type="relay" name="points_merge_rear" args="$(arg robot_name)/rgbd_rear/points $(arg robot_name)/rgbd_all/points"/>

  <node ns="mapping" pkg="octomap_server" type="octomap_server_node" name="octomap">
    <remap from="cloud_in" to="/$(arg robot_name)/rgbd_all/points"/>
    <param name="frame_id" value="odom"/>
    <!-- In case we want to filter out ceilings.
    <param name="pointcloud_max_z" value="1.5"/>
    -->
    <!-- We trust the simulated sensor a lot more than what default parameters expect. -->
    <param name="sensor_model/hit" value="0.95"/>
    <param name="sensor_model/miss" value="0.05"/>
  </node>

</launch>
