<?xml version="1.0"?>
<launch>
  <!-- Announces position of the point tracked by tracking camera relative to the center of the robot. -->
  <node pkg="tf" type="static_transform_publisher" name="tracked_point_tf" args="0.55 0 0.22 0 0 0 global odom 100" />
  <!-- Announces the position of the center of the robot relative to the point tracked by tracking camera in Osgar.
       The tracked point name needs to match the name of the stream sent from Osgar to ROS. -->
  <node pkg="tf" type="static_transform_publisher" name="robot_tf" args="-0.55 -0.22 0 0 0 0 tracking_pose robot 100" />

  <!-- Announces the position of depth camera relative to the center of the robot.
       The name of the announced frame needs to match the name of the corresponding depth stream from Osgar to ROS extended with a "/pose" suffix to distinguish from related optical frames configured below. -->
  <node pkg="tf" type="static_transform_publisher" name="front_camera_tf" args="0.5 0 0.525 0 0.35779249665883756 0 robot front_depth/pose 100" />
  <node pkg="tf" type="static_transform_publisher" name="rear_camera_tf" args="0.5 0 0.59 0 0.35779249665883756 0 angle rear_depth/pose 100" />

  <!-- Announces optical camera frames relative to "normal" camera frames.
       The name of the announced frames need to macth the name of the corresponding depth streams from Osgar to ROS. -->
  <node pkg="tf" type="static_transform_publisher" name="front_camera_optical_tf" args="0 0 0 -1.5707963 0 -1.5707963 front_depth/pose front_depth 100" />
  <node pkg="tf" type="static_transform_publisher" name="rear_camera_optical_tf" args="0 0 0 -1.5707963 0 -1.5707963 rear_depth/pose rear_depth 100" />

  <!-- Announces placements of lidars. -->
  <node pkg="tf" type="static_transform_publisher" name="front_scan_tf" args="0.39 0.0 0.42 0 0 0 robot front_scan 100" />
  <node pkg="tf" type="static_transform_publisher" name="rear_scan_tf" args="0.39 0.0 0.49 0 0 0 angle rear_scan 100" />

  <group ns="osgar/from">
    <!-- Data stream from Osgar to ROS -->
    <node name="pull_from_osgar" pkg="proxy" type="pull.py">
     <!-- Stream parameters: stream_name:[depth|pose]:...
          Depth streams have extra parameters in the form of width:height:ppx:ppy:fx:fy
          Pose has one extra parameter representing the name of the coordinate frame this pose belongs to.

          Depth camera parameters can be obtained with `rs-enumerate-devices -c`-->
      <param name="streams" value="front_depth:depth:160:120:79.6225509643555:60.6515312194825:96.43636322021474:96.43636322021474,rear_depth:depth:160:120:78.89627838134776:59.74887466430675:95.43363952636724:95.43363952636724,front_scan:scan:-135:135:0.1:10.0,rear_scan:scan:-135:135:0.1:10.0,tracking_pose:pose:odom,angle:pose:robot"/>
    </node>

    <!-- Remove noise -->
    <node name="depth_denoiser_front" pkg="proxy" type="depth_filter">
      <param name="max_support_distance" value="0.6"/>
      <param name="min_support_fraction" value="0.75"/>
      <param name="max_depth" value="10.0"/>
      <remap from="depth_denoiser_front/input" to="front_depth/depth"/>
      <remap from="depth_denoiser_front/output" to="front_depth/clean_depth"/>
    </node>
    <node name="depth_denoiser_rear" pkg="proxy" type="depth_filter">
      <param name="max_support_distance" value="0.6"/>
      <param name="min_support_fraction" value="0.75"/>
      <param name="max_depth" value="10.0"/>
      <remap from="depth_denoiser_rear/input" to="rear_depth/depth"/>
      <remap from="depth_denoiser_rear/output" to="rear_depth/clean_depth"/>
    </node>

    <!-- Merge depth, camera_info and lidar streams. -->
    <node pkg="topic_tools" type="relay" name="depth_merge_front" args="front_depth/clean_depth all_depth/depth"/>
    <node pkg="topic_tools" type="relay" name="depth_merge_rear" args="rear_depth/clean_depth all_depth/depth"/>
    <node pkg="topic_tools" type="relay" name="camera_info_merge_front" args="front_depth/camera_info all_depth/camera_info"/>
    <node pkg="topic_tools" type="relay" name="camera_info_merge_rear" args="rear_depth/camera_info all_depth/camera_info"/>
    <node pkg="topic_tools" type="relay" name="scan_merge_front" args="front_scan all_scan"/>
    <node pkg="topic_tools" type="relay" name="scan_merge_rear" args="rear_scan all_scan"/>
  </group>

  <node pkg="proxy" type="traversability" name="local_map" output="screen">
    <param name="publish_rate" value="0.2"/>
    <param name="num_threads" value="3"/>
    <param name="blind_columns_left" value="15"/>
    <param name="depth_image_stride" value="1"/>
    <param name="horizontal_pixel_offset" value="3"/>
    <param name="vertical_pixel_offset" value="3"/>
    <param name="synthetic_obstacle_distance" value="0.7"/>
    <param name="visible_ground_min" value="0.3"/>
    <param name="visible_ground_max" value="3.0"/>
    <param name="max_bump_height" value="0.1"/>
    <param name="max_slope" value="25"/>
    <param name="depth_subsampling" value="13"/>
    <!-- Eight seconds worth of history. -->
    <param name="max_depth_observations" value="36"/> <!-- 6 * 6 Hz -->
    <param name="max_scan_observations" value="30"/> <!-- 6 * 5 Hz -->
    <param name="max_dip_up" value="0.035"/>
    <param name="max_relative_z" value="4"/>
    <param name="robot_height" value="0.8"/>
    <param name="max_num_nearby_points" value="10000"/>
    <param name="robot_frame_id" value="robot"/>
    <remap from="local_map/input/camera_info" to="osgar/from/all_depth/camera_info"/>
    <remap from="local_map/input/depth" to="osgar/from/all_depth/depth"/>
    <remap from="local_map/input/scan" to="osgar/from/all_scan"/>
    <remap from="local_map/output/scan" to="osgar/to/scan"/>
    <remap from="local_map/output/map" to="osgar/to/points"/>
  </node>

  <!-- Data stream from ROS to Osgar -->
  <node name="push_to_osgar" pkg="proxy" type="push.py" ns="osgar/to">
    <param name="output_scan_channel" value="scan360"/>
    <param name="output_pointcloud_channel" value="points"/>
  </node>

  <node name="record" pkg="rosbag" type="record" args="-a -o /tmp/k2"/>

</launch>
