<launch>
	<env name="DISPLAY" value=":0.0"/>
	<!-- LOGGING -->
	<env name="ROSCONSOLE_CONFIG_FILE"  value="$(find robot)/custom_rosconsole.conf"/>
        <arg name="record_sensors" default="true" />
        <!--node pkg="rosbag" type="record" name="rosbag_record" args="record -o /home/pavliik/develop/ros_ws/bags/ /cv_camera/image_raw /cv_camera/camera_info /odom /imu  __name:=my_bag" if="$(arg record_sensors)"/-->
        <node pkg="rosbag" type="play" name="player" output="screen" args="--pause --clock /home/pavliik/develop/ros_ws/bags/bags/_2019-09-12-23-27-09.bag" unless="$(arg record_sensors)"/>
	<group unless="$(arg record_sensors)">
		<param name="use_sim_time" value="true"/>
	</group>
	<group if="$(arg record_sensors)">
                <param name="use_sim_time" value="false"/>
        </group>


        <node pkg="robot" type="rospy_zmq.py" name="osgar" output="screen">
		<remap from="odom" to="/rs_t265/odom/sample"/>
		<remap from="image" to="/camera/depth/image_rect_raw"/>
	</node>	
	<!-- LOCALIZATION /-->
	<!--rosparam command="load" file="$(find robot)/params_mob/ekf_params.yaml" /-->
	<!--node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_map" clear_params="true">
    		<remap from="odometry/filtered" to="odometry/filtered_map"/>
  	</node-->

	<group ns="rtabmap">
    		<node pkg="nodelet" type="nodelet" name="rgbd_sync" args="standalone rtabmap_ros/rgbd_sync" output="screen">
	    		<remap from="rgb/image"       to="/camera/color/image_raw"/>
	    		<remap from="depth/image"     to="/camera/aligned_depth_to_color/image_raw"/>
	    		<remap from="rgb/camera_info" to="/camera/color/camera_info"/>
      
      			<param name="approx"       value="false"/> 
    		</node>
    
    
    		<node name="rtabmap" pkg="rtabmap_ros" type="rtabmap" output="screen" args="--delete_db_on_start">
	  		<param name="frame_id" type="string" value="camera_link"/>
	  		<param name="odom_frame_id" type="string" value="odom"/>	
          		<param name="subscribe_depth" type="bool" value="false"/>
	  		<param name="subscribe_rgbd" type="bool" value="true"/>
	  		<param name="subscribe_scan" type="bool" value="false"/>
	  		<param name="subscribe_scan_cloud" type="bool" value="false"/>
	  		<param name="subscribe_odom_info" type="bool" value="false"/>
			<remap from="scan_cloud"       to="/camera/depth_registered/points"/>
	  		<remap from="rgb/image"       to="/camera/color/image_raw"/>
          		<remap from="depth/image"     to="/camera/depth/image_rect_raw"/>
          		<remap from="rgb/camera_info" to="/camera/color/camera_info"/>
			<remap from="scan" to="/scan"/>
	  		<remap from="odom" to="/rs_t265/odom/sample"/>

          		<remap from="rgbd_image" to="rgbd_image"/>

          		<param name="queue_size" type="int" value="10"/>

          		<param name="RGBD/AngularUpdate"        type="string" value="0.01"/>
          		<param name="RGBD/LinearUpdate"         type="string" value="0.01"/>
	  		<param name="RGBD/OptimizeFromGraphEnd" type="string" value="false"/>
	  		<param name="proj_max_height" type="double" value="1.0"/>
	  		<param name="proj_max_ground_angle" type="double" value="45"/>
	  		<param name="grid_unknown_space_filled" type="bool" value="true"/>
	  		<param name="grid_eroded" type="bool" value="true"/>
    		</node>
    	</group>


	<!-- REAL SENSE /-->	
        <include file="$(find realsense2_camera)/launch/rs_rgbd.launch"/>
	<include file="$(find realsense2_camera)/launch/rs_t265.launch">
	</include>
        <node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="depthimage_to_laserscan" >
                <param name="scan_height" value="3"/>
		<param name="range_min" value="0.2"/>
                <param name="output_frame_id" value="base_link/front_laser"/>
                <remap from="image" to="camera/depth/image_rect_raw" />
                <remap from="camera_info" to="camera/depth/camera_info" />
        </node>
	<node pkg="tf" type="static_transform_publisher" name="laserscan" args="0 0 0 0 0 0 camera_link base_link/front_laser 100"/>
        <node name="cliff_detector" pkg="cliff_detector" type="cliff_detector" >
                <remap from="image" to="/camera/depth/image_rect_raw"/>
                <remap from="camera_info" to="/camera/depth/camera_info"/>
                <rosparam command="load" file="$(find cliff_detector)/config/params.yaml" />
        </node>
        <!-- TF transformations x y z yaw pitch roll -->
        <node pkg="tf" type="static_transform_publisher" name="realsense" args="0.06 0 0.17 0 0 0 /base_link /camera_link 100"/> 
	<!--node pkg="tf" type="static_transform_publisher" name="tracking" args="0.06 0 0.17 0 0 0 /base_link /rs_t265_link  100"/-->       
</launch>

