<?xml version="1.0"?>
<launch>
  <node name="$(arg robot_name)_proxy" pkg="proxy" type="ros_proxy" args="$(arg robot_name)" output="screen">
  </node>

  <!-- Combining front RGBD depth and image data into a single message. -->
  <node pkg="nodelet" type="nodelet" name="rgbd_sync_front" args="standalone rtabmap_ros/rgbd_sync">
    <!-- Inputs -->
    <remap from="rgb/image" to="/$(arg robot_name)/rs_front/optical/color/image"/>
    <remap from="rgb/camera_info" to="$(arg robot_name)/rs_front/optical/color/camera_info"/>
    <remap from="depth/image" to="/$(arg robot_name)/rs_front/optical/depth/image"/>
    <!-- Output -->
    <remap from="rgbd_image/compressed" to="/rtabmap/rgbd/front/compressed"/>
    <remap from="rgbd_image" to="/rtabmap/rgbd/front"/>
  </node>
  <node pkg="nodelet" type="nodelet" name="rgbd_sync_rear" args="standalone rtabmap_ros/rgbd_sync">
    <!-- Inputs -->
    <remap from="rgb/image" to="/$(arg robot_name)/rs_back/optical/color/image"/>
    <remap from="rgb/camera_info" to="$(arg robot_name)/rs_back/optical/color/camera_info"/>
    <remap from="depth/image" to="/$(arg robot_name)/rs_back/optical/depth/image"/>
    <!-- Output -->
    <remap from="rgbd_image/compressed" to="/rtabmap/rgbd/rear/compressed"/>
    <remap from="rgbd_image" to="/rtabmap/rgbd/rear"/>
  </node>

</launch>
