#
#   rosconsole will find this file by default at $ROS_ROOT/config/rosconsole.config
#
#   You can define your own by e.g. copying this file and setting
#   ROSCONSOLE_CONFIG_FILE (in your environment) to point to the new file
#
log4j.logger.ros.roscpp=DEBUG
log4j.logger.ros.roscpp.superdebug=WARN

# hide messages about recursive call
log4j.logger.ros.roscpp.cached_parameters=INFO

# hide messages about connections
log4j.logger.ros.roscpp.roscpp_internal=INFO
